.card-name {
  color: red;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}

.card-price {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: blue;
  background-color: green;
}
