.friendList {
  list-style: none;
}
.item {
  display: flex;
  background-color: antiquewhite;
  max-width: 200px;
  justify-content: space-around;
  margin-top: 20px;
  padding: 15px;
}

.statusOnline {
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 50%;
}

.statusOffline {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
}
